/* Reset the automatic styles from the browser */

/* 1. Selecting all the tags to erase paddings and margins */

body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

/* Defining the general font-family of the sites */
body {
    font-family: Georgia, serif;
    color: #252525;
}

.menu {
    background: #252525;
    padding: 20px 0;
}

/* max-width helps with RESPONSIVITY at a container */
.menu-container {
    max-width: 960px; 
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

/* ClearFix added at the container to solve the problem of floating items */

.menu-container::after, .menu-container::before{
    content: '';
    display: table;
    clear: both;
}

a.menu-logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

/* To put elements from a list side by side, on the same level, very common at nav bars */
.menu-nav li {
    display: inline-block;
}

/* Padding in a bottom is good for mobile devices. It expands the click area */
/* em = PX / 16 */
.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}



/* Intro */

/* Background-size: cover HELPS WITH RESPONSIVITY, the image will adapt to it*/

.intro {
    background: url('/img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    /* margin-top: 150px; will pull the entire container */
    text-align: center;
    color: #fff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro h1::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #FFF;
    margin: 10px auto;
    /* margin: somethinpx auto causes the separator to align with the center */
}

.intro p {
    font-style: italic;
    font-size: 1.125em;
}