/* Reset the automatic styles from the browser */

/* 1. Selecting all the tags to erase paddings and margins */

body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
}

/* Defining the general font-family of the sites */
body {
    font-family: Georgia, serif;
    color: #252525;
}

.menu {
    background: #252525;
    padding: 20px 0;
}

/* max-width helps with RESPONSIVITY at a container */
.menu-container {
    max-width: 960px; 
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

/* ClearFix added at the container to solve the problem of floating items */

.menu-container::after, .menu-container::before {
    content: '';
    display: table;
    clear: both;
}

a.menu-logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

/* To put elements from a list side by side, on the same level, very common at nav bars */
.menu-nav li {
    display: inline-block;
}

/* Padding in a button is good for mobile devices. It expands the click area */
/* em = PX / 16 */
.menu-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}



/* Intro */

/* Background-size: cover HELPS WITH RESPONSIVITY, the image will adapt to the screen*/

.intro {
    background: url('/img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    /* margin-top: 150px; will pull the entire container */
    text-align: center;
    color: #fff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro h1::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #FFF;
    margin: 10px auto;
    /* margin: 10px auto - causes the separator to align with the center */
}

.intro p {
    font-style: italic;
    font-size: 1.125em;
}



/* Sobre */

.sobre {
    padding: 60px 0; /* isolate container */
}

/* max-width helps with RESPONSIVITY at a container */
.sobre-container {
    max-width: 960px; 
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

/* ClearFix added at the container to solve the problem of floating items */

.sobre-container::after, .sobre-container::before {
    content: '';
    display: table;
    clear: both;
}

.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.sobre-item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-item img {
    display: block; /* as a pattern tag img has approximately 2px around, and display block exclude it*/
    max-width: 100%;
}

.sobre-item h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: #252525;
    width: 220px;
    color: #FFF;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative; /* It makes the item overlap with the container */
}

.sobre > p {
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}



/* Produtos */

.produtos {
    background: #E7E4D8;
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}
.produtos-container {
    max-width: 960px;
    margin: 0 auto;
}

.produtos-container::before, .produtos-container::after {
    content: '';
    display: table;
    clear: both; /* causes the container to re-expand */
}

.produtos-item {
    width: 300px;
    float:left;
    margin: 0 10px 20px 0;
}

.produtos-item h2 {
    text-align: center;
    font-size-adjust: 2.23em;
    margin-bottom: 20px;
}

/* Making the circle */
.produtos-item h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: currentColor;
    margin: 20px auto; /* put in the center */
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 10px currentColor;
}


h2.produtos-paulista::before {
    color: #482901;
}

h2.produtos-carioca::before {
    color: #c17139;
}

h2.produtos-mineiro::before {
    color: #d7a54d;
}

.produtos-item p {
    font-size: 0.875em;
    line-height: 1.4em;
}

.produtos-btn {
    width: 180px;
    border: 3px solid #252525;
    color: #252525;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto 0 auto;     
}





/* Locais */

.locais {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}

.locais-item {
    clear: both;
    margin: 60px auto;
}

.locais-item::after, .locais-item::before {
    display: table;
    content: '';
    clear: both;
}

.locais-item img {
    width: 460px;
    float: left;
    display: block;
    margin: 0 10px;
}

.locais-item > div {
    width: 460px;
    float: left;
    margin: 0 10px;
} 

.locais-item h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}

.locais-item p {
    max-width: 320px;
    font-size: 1.125em;
    max-width: 320px;
    margin-bottom: 40px;
}

.locais-item a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid; /* */
    color: #252525;
    padding: 10px 20px;

}